﻿@model Candy

<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        <img src="@Model.ImageThumbnailUrl" alt="image for candy shop" />
        <div class="caption">
            <h3 class="pull-right">@Model.Price.ToString("c")</h3>
            <h3><a asp-controller="Candy" asp-action="Details" asp-route-id="@Model.CandyId">@Model.Name</a></h3>
            <p>@Model.Description</p>
        </div>
        <div class="addToCart">
            <p class="button">
                <a class="btn btn-primary" asp-controller="Candy" asp-action="Edit" asp-route-Id="@Model.CandyId">Edit</a>
                <a class="btn btn-primary" asp-controller="Candy" asp-action="Delete" asp-route-Id="@Model.CandyId">Delete</a>

            </p>
        </div>
    </div>
</div>