﻿@model ShoppingCartViewModel

@if( Model.ShoppingCart.ShoppingCartItems.Count >0 )
 {
    <li>
        <a asp-controller="ShoppingCart" asp-action="Index">
            <span class="glyphicon glyphicon-shopping-cart"></span>"
            <span id="cart-status">
                @Model.ShoppingCart.ShoppingCartItems.Count
            </span>
        </a>
    </li>
 }