﻿@model Candy

<h1>@Model.Name</h1>

<div class="thumbnail">
    <img alt="@Model.Name" src="@Model.ImageUrl" />
    <div class="caption-full">
        <h3 class="pull-right">@Model.Price</h3>
        <h3><a href="#">@Model.Name</a></h3>
        <p>@Model.Description</p>
    </div>
    <div class="addToCart">
        <p class="button">
            <a class="btn btn-primary" asp-controller="ShoppingCart" asp-action="AddToShoppingCart" asp-route-candyId="@Model.CandyId">Add to Cart</a>
        </p>
    </div>

</div>