﻿@model CandyListViewModel

<div class="row">
    <a class="btn btn-primary" asp-controller="Candy" asp-action="Create">Create</a>
</div>
@foreach (var candy in Model.Candies)
{
    <partial name="_candyIndex" model="candy" />
    
}  