﻿@model CandyShop.Models.Candy

@{
    ViewData["Title"] = "SearchPhraseResult";
}

<h2>SearchPhraseResult</h2>

<h4>Candy</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SearchPhraseResult">
                <label for="SearchPhrase" class="control-label"></label>
                <input name="SearchPhrase" class="form-control" />
                <button>submit</button>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
