﻿@model ShoppingCartViewModel

<h2>Shopping Cart: All your candy you love</h2>
<table class="table table-bordered table-striped">
    <thread>
        <tr>
            <th>&nbsp;</th>
            <th>Selected Amount</th>
            <th>Candy</th>
            <th class="text-right">Price</th>
            <th class="text-right">Subtotal</th>
        </tr>
    </thread>
    <tbody>
        @foreach (var item in Model.ShoppingCart.ShoppingCartItems)
        {
            <tr>
                <td class="text-lef"><a asp-controller="ShoppingCart" 
                                        asp-action="RemoveFromShoppingCart"
                                        asp-route-candyId="@item.Candy.CandyId" alt="">Decrease</a></td>
                <td class="text-center">@item.Amount</td>
                <td class="text-left">@item.Candy.Name</td>
                <td class="text-right">@item.Candy.Price.ToString("c")</td>
                <td class="text-right">
                    @((item.Amount*item.Candy.Price).ToString("c"))
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <td colspan="4" class="text-right">Total</td>
        <td class="text-right">@Model.ShoppingCartTotal.ToString("c")</td>
    </tfoot>

</table>

<div class="text-center">
    <a class="btn btn-primary" asp-controller="ShoppingCart" asp-action="ClearCart">Clear Cart</a>
    <a class="btn btn-primary" asp-controller="Order" asp-action="Checkout">Checkout</a>
</div>
