﻿@model Order

<form asp-action="Checkout" method="Post" class="form-horizontal" role="form">
    <h4>Youre one step away from ordering awesome candy</h4>

    <div asp-validation-summary="All" class="danger"></div>

    <div class="form-group">
        <label asp-for="FistName" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="FistName" class="form-control" />
            <span asp-validation-for="FistName" class="danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="LastName" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Adress" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="Adress" class="form-control" />
            <span asp-validation-for="Adress" class="danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="City" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="City" class="form-control" />
            <span asp-validation-for="City" class="danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="State" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="State" class="form-control" />
            <span asp-validation-for="State" class="danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="ZipCode" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="ZipCode" class="form-control" />
            <span asp-validation-for="ZipCode" class="danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Phonenumber" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="Phonenumber" class="form-control" />
            <span asp-validation-for="Phonenumber" class="danger"></span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-5">
            <input type="submit" class="btn btn-primary" value="Complete Order" />
           
        </div>
    </div>

</form>